# Dependency (File sampah yang berat, jangan diupload)
node_modules/
*/node_modules/

# Environment Variables (SANGAT RAHASIA - JANGAN DIUPLOAD)
.env
.env.local
.env.*

# Build Output (Frontend build)
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db